/*
.sidebar-left .sidebar-header.sidebar-header-image{
	background: url(https://myhealth.alberta.ca/HealthTopics/healthcare101/PublishingImages/healthcare-revolves-around-you.png);
	background-size: cover;
}*/

html, body {
    overflow-x: hidden;
}
input, select{
	font-size:16px!important;
} 

.coverpage-slider.coverpage-classic{
    /*height: auto !important;*/
    position: relative !important;
	margin-top: -60px;
}
.swiper-slide {
    position: relative;
}

.img-responsive{
	width:100%
}
.page-login-logo {
    margin-bottom: 0px;
}

@media only screen and (max-width: 320px) {
	.page-login-logo {
		display: none;
	}
}


.content {
    padding-left: 10px;
    padding-right: 10px;
}

.page-login {
    margin-top: 75px;
    width: 322px;
}

.page-login-forgot {
    float: left;
    font-size: 12px;
    height: auto;
    line-height: 0px;
    margin-top: 0px;
    padding-left: 15px;
}
.page-login-create {
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}
.page-login-create {
    font-size: 12px;
    height: 0px;
    line-height: 0px;
    margin-top: 0px;
}


.sidebar-left,
.sidebar-right {
    width: 260px;
}

/** form valid **/
.formValidationError {
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/** MINI LOGO **/
.mini-logo{
	display: block;
	line-height: 18px;
	margin: 25px 0px 10px 20px;
}
.mini-logo span{
	color: #1a79b2;
	text-align: left;	
}
		
		
/** menu close button LEFT*/
.sidebar-header-image .sidebar-socials a {
    float: right;
    border: 1px solid #fff;
    border-radius: 49px;
    height: 29px;
    width: 29px;
    padding: 0px;
    margin: 13px;
}
.sidebars-light .sidebar-socials a i{
    margin-top: -13px;
    display: block;
}
/** menu close button RIGHT */
.sidebars-light .sidebar-header-classic .sidebar-socials a {
    color: #333;
    float: left;
    border: 1px solid #333;
    border-radius: 50px;
    height: 29px;
    width: 29px;
    padding: 0px;
    margin: 13px;
}

.text-buble{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	padding: 5px 20px 0px 20px;
}

.app-info p{
	font-size: 17px;
}
.coverpage-bottom.app-info p {
    opacity: 1;
}

.nav-img{
	width: 100%;
}
.sidebar-header-image .sidebar-socials {
	padding-bottom: 0px;
}
.sidebar-header-image .sidebar-socials {
    background: #fff;
}
.profile img{
	width: 45px;
    border-radius: 100px;
    margin: 15px 15px 0px 15px;
}
.header-logo-text{
	display: block;
    background-color: transparent;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

.slide-wrapper{
	padding: 20px 0px;
}

.landing-homepage ul li a em {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
}

.landing-homepage ul li {
    min-height: 130px;
}

.hamburger-animated .hm1, .hamburger-animated .hm2, .hamburger-animated .hm3 {
    height: 1.5px;
}

/** PRELOADER **/
.loader {
    width: 100vw;
    height: 100vh;
    background: url(../img/preload-heart-blue.svg) center center no-repeat rgba(220, 225, 229, 1);
    position: fixed;
    z-index: 100000;
    background-size: 40%;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-family: Roboto;
	display:block;
}


/** form errror **/
label.error {
    position: absolute;
    top: 24px;
    left: 45px;
    font-size: 10px;
    color: red;
}
button{
	position:relative;
}

/** COLORS **/
.sidebars-light .sidebar-socials a i {
    color: #fff!important;
    font-size: 16px;
}
.coverpage-slider {
    background-color: rgb(255, 255, 255);
}
.dark-overlay {
    background-color: rgb(255, 255, 255);
}
.header-dark {
    background-color: rgba(26, 121, 178, 1);
}
.theme.blue .dark-overlay {
    background-color: rgba(26, 121, 175, 1);
}
.theme.blue .header-dark {
    background-color: rgba(26, 121, 175, 1);
}
.sidebar-header-image .sidebar-socials {
    background: rgba(26, 121, 175, 1);
}



/** text **/
.landing-dark ul li a em,
.coverpage-bottom h3,
.pageapp-login-input input,
.coverpage-bottom p,
.coverpage-bottom-button-2,
.coverpage-center p,
.coverpage-left a,
.coverpage-center h3,
.coverpage-bottom-button-1{
    color: #111;
}